@charset 'utf-8';

/*** CSS reset ***/
@import url('/styles/reset.css');
/*** Web fonts ***/
@import url('/styles/webfont-Pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



/*** Common ***/
html, html * {
    box-sizing: border-box;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
}
mark {
    background-color: transparent;
    color: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}
a:hover {
    color: #4c89c6;
    text-decoration: underline;
}

/*** Typography ***/
body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.0;
    color: #666;
}

#masthead {
    font-size: 13px;
    color: #fff;
}
#masthead a {
    color: inherit;
    text-decoration: none;
}
#masthead h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}
#masthead .subtitle {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.01em;
}
#masthead .gnb {
    letter-spacing: -0.01em;
}

#content .post-entry  {
    font-family: 'Pretendard', sans-serif;
}
#content .post-entry h2 {
    font-size: 20px;
    line-height: 34px;
    color: #333;
}
#content .post-entry-body p {
    margin: 1.0em 0;
    line-height: 1.6;
}

#sidebar .description {
    font-family: 'Pretendard', sans-serif;
}

#footer address {
    font-size: 11px;
}

/*** Layout ***/
#masthead {
    width: 100%;
}
#masthead > .wrap-inner {
    display: flex;
    justify-content: space-between;
    width: 960px;
    height: 110px;
    margin: 0 auto;
}
#container {
    display: flex;
    align-items: stretch;
    width: 960px;
    min-height: calc(100vh - 110px);
    margin: 0 auto;
}
#content {
    width: 710px;
    padding: 30px 0 30px;
}
#sidebar {
    width: 220px;
    margin-left: 30px;
    padding: 30px 15px 30px;
}
#footer {
    padding: 10px 0 10px;
}

/*** Modules ***/
.description {
    font-size: 11px;
    line-height: 1.2;
}

.post-entry {
    margin-bottom: 30px;
}

/*** Details ***/
/* BEGIN::body */
    body {
        background: #fff;
    }
/* END::body */
/* BEGIN::#masthead */
    #masthead {
        background: transparent url('/images/header-bg.png') 50% 0 repeat-x;
    }
    #masthead .wrap-inner {
        background: transparent url('/images/header-bg.png') 50% 0 repeat-x;
    }
    #masthead .logo {
        padding-top: 27px;
    }
    #masthead .gnb {
        padding-top: 71px;
    }
    #masthead .gnb > ul {
        display: flex;
    }
    #masthead .gnb > ul > li > a {
        display: block;
        padding: 6px 6.5px;
        text-transform: uppercase;
    }
/* END::#masthead */
/* BEGIN::#content */
    #content .post-entry header {
        border-bottom: 1px solid #ccc;
        margin-bottom: 0.45em;
    }
    #content .post-entry header > div {
        display: flex;
        justify-content: space-between;
        padding: 0.25em 0 0.45em;
    }
    #content .post-entry-info dl > * {
        display: inline-block;
    }
    #content .post-entry-info dd {
        margin-right: 0.25em;
    }
    #content .post-entry-mgt ul > * {
        display: inline-block;
    }
    #content .post-entry-mgt li {
        margin-right: 0.25em;
    }
/* END::#content */
/* BEGIN::#sidebar */
    #sidebar {
        background-color: #f7f7f7;
    }
/* END::#sidebar */
/* BEGIN::#footer */
    #footer address {
        line-height: 30px;
        text-align: center;
    }
/* END::#footer */

/*** Scaffolding ***/
