@charset "utf-8";

/** CSS reset **/
@import url("/styles/reset.css");
/** Web fonts **/
@import url("/styles/webfont-Pretendard.css");

/** Common **/
html, html * {
    box-sizing: border-box;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
}
mark {
    background-color: transparent;
    color: inherit;
}

/** Typography **/

/** Layout **/
header {
    width: 100%;
}
header > .wrap-inner {
    width: 960px;
    height: 110px;
    margin: 0 auto;
}

/** Modules **/

/** Details **/
/* BEGIN::body */
    body {
    }
/* END::body */
/* BEGIN::header */
    header {
        background: transparent url('/images/header-bg.png') 50% 0 repeat-x;
    }
/* END::header */

/** Scaffolding **/
main {
    display: none;
}

header > .wrap-inner * {
    display: none;
}
